.button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 24rem;
	padding: 0.8rem;
	cursor: pointer;
	border: none;
	border-radius: 0.8rem;
	color: var(--text-over-primary);
	margin: 3.2rem 0;
	transition: all 0.1s ease-in-out;
}

.button svg {
	width: 3.2rem;
	height: 3.2rem;
}

.button:hover {
	filter: brightness(80%);
	color: var(--text-over-primary-dark);
}

.green {
	background: var(--primary);
	color: var(--text-over-primary);
}

.red {
	background: var(--error);
	color: var(--text-over-error);
}
