.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.4rem;
	padding-top: 3.2rem;
}

.logoLink {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	gap: 0.4rem;
	font-size: 4.2rem;
	font-weight: bold;
	color: var(--primary);
}

.logoLink svg {
	width: 6.4rem;
	height: 6.4rem;
}

.logoLink:hover {
	filter: brightness(50%);
	transition: all 0.2s ease-in-out;
}
